.additionalStats{
    display: inline;
}

.personal-card {
    margin: 40px;
}

.species-button {
    margin: 20px 5px 0px 5px;
}

.career-button {
    margin: 20px 5px 0px 5px;
}

.species-info {
    margin: 20px 20px 20px 60px;
    height: auto;
    width: 950px;
}

.image-card {
    height: auto;
    width: 380px;
    margin: 20px 20px 20px 10px;
}

.career-card {
    margin: 0px 40px 40px 40px;
}

.inlineText {
    display: inline;
}

.background {
    background: url("https://s3.amazonaws.com/project-3-20190122205700-deployment/brushed.png");
}

.careerHeader {
    text-align: center;
}

.skill-form-attributes {
    width: 15%;
    margin: auto;
    text-align: center;
}

.skill-form-skills {
    width: 7%;
    margin: 20px auto auto auto;
    text-align: center;
}

.skill-form-combat {
    width: 16%;
    margin: auto;
    text-align: center;
}

.skill-form-knowledge {
    width: 12%;
    margin: auto;
    text-align: center;
}

.brawn_color {
    color: red;
    font-weight: bold;
}

.agility_color {
    color: green;
    font-weight: bold;
}

.intelligence_color {
    color: #0198E1;
    font-weight: bold;
}
.cunning_color {
    color: #F1BE13;
    font-weight: bold;
}

.willpower_color {
    color: #660066;
    font-weight: bold;
}

.presence_color {
    color: #E500E5;
    font-weight: bold;
}