body {
    background-image: url("../images/stardust.png");
}

#loginDiv {
    height: 100px;
    width: 320px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#signupDiv {
    height: 500px;
    width: 320px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#leftMain {
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 250px;
    padding: 50px;
}

#centerMain {
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-left:10px;
    margin-right: 10px;
    padding: 50px;
}

#rightMain {
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: auto;
    padding: 50px;
}

#main_header {
    margin-top: 50px;
    margin-left:600px;
    margin-right: 10px;
}

#creation_container {
    width: 80%;
    height: auto;
    margin: 30px auto 30px auto;
    background-image: url("../images/brushed.png");
    padding: 20px;
}

.species-button {
    margin: 0px 5px 0px 5px;
}

#species_button_row {
    margin: auto;
}

.career_block {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 0px 15px 0px 20px;
    width: 170px;
}

.species_img {
    margin: 0px 0px 0px 60px;
}

#careerMainContainer {
    flex-direction: row;
}

